<title>Rachel & Theo's Wedding</title>
<link rel="icon" href="/favicon.ico?v=1.1">
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/scripts/css/bootstrap-material-design.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="/sprinkles/nav.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
