<h2>Request an invitation</h2>
<form action="submit_invite_request">
    <label>
        Name(s)
    </label>
    <input class="text_input" type="text" />
    <label>
        Email
    </label>
    <input class="text_input" type="text" />
    <input type="submit">
</form>