<h2>Request an invitation</h2>
<form action="submit_invite_request" method="post">
    <label>
        Name(s)
    </label>
    <input class="text_input" type="text" name="names" />
    <label>
        Email
    </label>
    <input class="text_input" type="text" name="email" />
    <input type="submit">
</form>