/**************
  splash page
**************/
.main_container {
    text-align: center;
    background-color: transparent;
    color: white;
    background: url('/last_tango.jpeg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.well {
    color: black;
}
.well.invite_request {
    width: 365px;
}
.well h3 {
    margin-top: 10px;
}
.submit_thanks {
    flex: 1 1 70%;
}
.headline_container {
    flex: 1 1 30%;
}
.invite_request_container {
    flex: 2 1 60%;
}
.text_input {
    padding-left: 5px;
}

/****************
invitation form
****************/
.hide {
    display: none;
}
.invitation_page {
    text-align: center;
}
.invitation_page label {
    display: block;
}
.form-group .btn.blue,
.form-group .btn.blue:focus {
    background-color: #008BA0;
    color: white;
}
.form-group .btn.red,
.form-group .btn.red:focus {
    background-color: #800020;
    color: white;
}
.form-group .btn.blue.active,
.form-group .btn.blue.active:hover {
    background-color: #008BA0;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.18), 0 8px 16px rgba(0, 0, 0, 0.36);
}
.form-group .btn.red.active,
.form-group .btn.red.active:hover {
    background-color: #800020;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.18), 0 8px 16px rgba(0, 0, 0, 0.36);
}
.form-group .btn.blue:hover {
    background-color: rgba(0, 139, 160, 0.8);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.18), 0 8px 16px rgba(0, 0, 0, 0.36);
}
.form-group .btn.red:hover {
    background-color: rgba(128, 0, 32, 0.8);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.18), 0 8px 16px rgba(0, 0, 0, 0.36);
}
.form-group label {
    color: black;
}
.form-group input {
    margin: auto;
    text-align: center;
    width: 300px;
}
.form-group input[type=number] {
    width: 100px;
}
#guestNames {
    width: 400px;
    margin: auto;
}
.panel.panel-default .panel-heading {
    background-color: #008BA0;
    color: white;
}
.form-group textarea {
    width: 400px;
}
.form-group .checkbox label {
    color: black;
}
.checkbox .checkbox-material .check {
    margin-bottom: -4px;
}
.checkbox input[type=checkbox]:checked + .checkbox-material .check {
    color: #008BA0;
    border-color: #008BA0;
}