html {
}
body {
}
.main_container {
    text-align: center;
    background-color: transparent;
    color: white;
    background: url('/last_tango.jpeg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.well {
    color: black;
}
.well.invite_request {
    width: 365px;
}
.well h3 {
    margin-top: 10px;
}
.headline: {
    /*flex: 1;*/
}
.submit_thanks {
    /*flex: 2;*/
}