/*************
  general
**************/
p {
    font-size: 16px;
}
a, a:hover, a:focus {
    color: #008BA0;
}
.scooch_down {
    margin-top: 20px;
}
.important {
    font-size: 20px;
}

/*************
  nav bar
*************/
.navbar.navbar-default {
    background-color: #008BA0;
    color: white;
}

/**************
  location page
**************/
dd > dl > dt, dd > dl > dd {
    margin-left: 40px;
}

/*************
  gifts page
*************/
.bark_info {
    padding: 10px;
    text-align: center;
}

/**************
  splash page
**************/
.main_container {
    text-align: center;
    background-color: transparent;
    color: white;
    background: url('/last_tango.jpeg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.well {
    color: black;
}
.well.invite_request {
    width: 365px;
}
.well h3 {
    margin-top: 10px;
}
.submit_thanks {
    flex: 1 1 70%;
}
.headline_container {
    flex: 1 1 30%;
}
.invite_request_container {
    flex: 2 1 60%;
}
.text_input {
    padding-left: 5px;
}

/****************
invitation form
****************/
.hide {
    display: none;
}
.invitation_page {
    text-align: center;
}
.invitation_page label {
    display: block;
}
.btn.btn-raised.blue,
.btn.btn-raised.blue:focus {
    background-color: #008BA0;
    color: white;
}
.btn.btn-raised.red,
.btn.btn-raised.red:focus {
    background-color: #800020;
    color: white;
}
.btn.btn-raised.blue.active,
.btn.btn-raised.blue.active:hover {
    background-color: #008BA0;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.18), 0 8px 16px rgba(0, 0, 0, 0.36);
}
.btn.btn-raised.red.active,
.btn.btn-raised.red.active:hover {
    background-color: #800020;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.18), 0 8px 16px rgba(0, 0, 0, 0.36);
}
.btn.btn-raised.blue:hover {
    background-color: rgba(0, 139, 160, 0.8);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.18), 0 8px 16px rgba(0, 0, 0, 0.36);
}
.btn.btn-raised.red:hover {
    background-color: rgba(128, 0, 32, 0.8);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.18), 0 8px 16px rgba(0, 0, 0, 0.36);
}
.form-group label {
    color: black;
}
.form-group input {
    margin: auto;
    text-align: center;
    width: 300px;
}
.form-group input[type=number] {
    width: 100px;
}
#guestNames {
    width: 400px;
    margin: auto;
}
.panel.panel-default .panel-heading {
    background-color: #008BA0;
    color: white;
}
.form-group textarea {
    width: 400px;
}
.form-group .checkbox label {
    color: black;
}
.checkbox .checkbox-material .check {
    margin-bottom: -4px;
}
.checkbox input[type=checkbox]:checked + .checkbox-material .check {
    color: #008BA0;
    border-color: #008BA0;
}
.alert.alert-danger {
    background-color: #800020;
    color: white;
}
input[type=radio] {
    width: 15px;
}