<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>

<div class="table_container">

    <table class="table">
        <colgroup>
            <col class="naughty_foods"></col>
            <col class="nice_foods"></col>
        </colgroup>
        <tr>
            <th>Rachel avoids these foods</th>
            <th>All of this stuff is fine</th>
        </tr>
        <tr>
            <td><strong>Nightshades</strong> (tomatoes, potatoes, eggplant, peppers; pepper-based spices e.g. chili powder, cayenne, paprika)</td>
            <td>All other fruits, veggies, and spices (including sweet potatoes, beets, and black pepper)</td>
        </tr>
        <tr>
            <td><strong>Gluten</strong> (wheat, barley, rye, spelt, etc.)</td>
            <td>Other grains (corn, rice, oats, etc.)</td>
        </tr>
        <tr>
            <td><strong>Sugar</strong> (sugar cane, sugar beets, and corn-based sugars such as dextrose)</td>
            <td>Other sweeteners (maple syrup, honey, coconut palm sugar, agave, stevia)</td>
        </tr>
        <tr>
            <td><strong>Peanuts, almonds, and Brazil nuts</strong></td>
            <td>All other nuts</td>
        </tr>
        <tr>
            <td><strong>Coffee, alcohol, and black tea</strong></td>
            <td>Other beverages (including herbal and green tea)</td>
        </tr>
        <tr>
            <td></td>
            <td>Meat, seafood, dairy, eggs</td>
        </tr>
    </table>

</div>

</body>
</html>
