<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>

    <dl>
        <dt>The Plan</dt>
        <dd>Take over a mountain resort for a weekend of fun and togetherness</dd>
    </dl>
    <dl>
        <dt>The Dates</dt>
        <dd>October 14th-16th, 2016 (ceremony on Sat Oct 15th)</dd>
    </dl>
    <dl>
        <dt>The Location</dt>
        <dd>Cooper Spur Mountain Resort, Mount Hood, Oregon</dd>
    </dl>

</body>
</html>