<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
    <% include ../partials/navbar.ejs %>

<div>
    <p>
        We'll be honored to have you spend the weekend with us. Gifts are not required. But if you can't resist the urge to buy us something, here's what we suggest.
    </p>
    <div class="panel">
        <p>
            We’re a couple of grown-ass adults with more blenders and bath towels than we know what to do with. We don’t need any more stuff. Instead, we’d love it if you made a donation in our honor to Bark, a nature conservation nonprofit that helps protect Mount Hood National Forest. We’re thrilled to be able to have our wedding in such a beautiful location, and we’d like to take this opportunity to give back.
        </p>
        <p>
            The button below will take you to the donation form. If you want us to receive a notification about your donation, fill out the “This donation is in honor of…” section with the following info:
        </p>
        <p>
            <strong>Name:</strong>
            Theo and Rachel
        </p>
        <p>
            <strong>Email:</strong>
            rachelsakry@gmail.com
        </p>
        <p>
            <strong>Address:</strong>
            838 SE 38th Ave #306, Portland, OR 97214
        </p>
        <a href="https://org.salsalabs.com/o/1810/p/salsa/donation/common/public/?donate_page_KEY=9936">
            <button class="btn btn-raised blue">
                DONATE TO BARK
            </button>
        </a>
    </div>
<p>
    If you’d like to help bankroll our honeymoon,
    <a href="http://www.honeyfund.com/wedding/TheSpankrys">
        that’s also an option.
    </a>
</p>

</div>

</body>
</html>