<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
    <% include ../partials/navbar.ejs %>

<div class="container container-fluid">
    <h1>Gifts</h1>
    <h2>
        We'll be honored to have you spend the weekend with us. <strong>Gifts are not required.</strong> But if you can't resist the urge to buy us something, here's a couple ideas.
    </h2>
    <img src="mount_hood.png" style="width:100%">
    <div class="row scooch_down">
        <div class="col-sm-7">
            <p>
                So listen: we’re a couple of grown-ass adults with more blenders and bath towels than we know what to do with. We don’t need any more stuff!
            </p>
            <p class="important">
                Instead, we’d love it if you made a donation in our honor to
                <a href="http://bark-out.org/">Bark</a>, a nature conservation nonprofit that helps protect Mount Hood National Forest.
            </p>
            <p>
                We feel so blessed to have our wedding in such a beautiful location, and we’d like to take this opportunity to give back.
            </p>
        </div>
        <div class="col-sm-5">
        <div class="panel bark_info">
            <p>
                Make sure to fill out the section marked “This donation is in honor of…” on the donation form with the following info:
            </p>
            <p>
                <strong>Name:</strong>
                Theo and Rachel
                <br>
                <strong>Email:</strong>
                rachel_and_<span class="hide">hello</span>theo@spankry.com
                <br>
                <strong>Address:</strong>
                838 SE 38th Ave #306, Portland, OR 97214
            </p>
            <a href="https://org.salsalabs.com/o/1810/p/salsa/donation/common/public/?donate_page_KEY=9936">
                <button class="btn btn-raised blue">
                    DONATE TO BARK
                </button>
            </a>
        </div>
        </div>
    </div>
    <p class="scooch_down text-center">
        Or if you’d like to help bankroll our honeymoon,
        <a href="http://www.honeyfund.com/wedding/TheSpankrys">
            that’s also an option.
        </a>
    </p>
    <p class="photo_credit scooch_down">
        <a href="https://www.flickr.com/photos/darynbarry/1301127816">"Mount Hood"</a>
        by Darin Barry, used under
        <a href="https://creativecommons.org/licenses/by/2.0/">CC BY</a>
        / cropped from original
    </p>
</div>

</body>
</html>