<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
  <div class="main_container container-fluid">
    <div class="headline_container">
      <h1>Theo and Rachel are getting married</h1>
      <h2>October 15th, 2016</h2>
      <h3>Mount Hood, Oregon</h3>
    </div>
    <% if (!inviteRequestSubmitted) { %>
      <% include ../partials/invite_request_form.ejs %>
    <% } %>
    <% if (inviteRequestSubmitted) { %>
      <% include ../partials/invite_request_response.ejs %>
    <% } %>
  </div>
</body>
</html>
