<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <div class="main_container container">
    <div class="headline">
      <h1>Theo and Rachel are getting married</h1>
      <h3>October 15th, 2016 ~ Mount Hood, Oregon</h3>
    </div>
    <% if (!inviteRequestSubmitted) { %>
      <% include ../partials/invite_request_form.ejs %>
    <% } %>
    <% if (inviteRequestSubmitted) { %>
      <% include ../partials/invite_request_response.ejs %>
    <% } %>
  </div>
</body>
</html>
