<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script type="text/javascript" src="/sprinkles/invitation.js"></script>
  <script type="text/javascript" src="/bootstrap/button.js"></script>
</head>
<body class="invitation_page">
<% if (submissionFailed) { %>
    <div class="alert alert-danger">
        <strong>
            Uh-oh, something went wrong!
        </strong>
        <p>
            Please try again, and if it still doesn't work, give Rachel a call.
        </p>
    </div>
<% } %>
<div class="navbar navbar-default">
<h1>Theo and Rachel's Wedding</h1>
</div>
<div class="form-group">
    <label>Can you make it?</label>
    <div class="btn-group">
        <button class="btn btn-raised blue"
                type="button"
                id="comingYes">
            Yeah!
        </button>
        <button class="btn btn-raised red"
                type="button"
                id="comingNo">
            Nope
        </button>
    </div>
</div>
<form id="regretsForm"
      class="hide"
      action="submit_no_rsvp"
      method="post">
    <h1>Bummer!</h1>
    <div class="form-group">
        <label>Who are you?</label>
        <input type="text"
               class="form-control"
               name="Name"
               required>
    </div>
    <div class="form-group">
        <label>What'll you be up to instead?</label>
        <textarea name="Message" rows="8">
        </textarea>
    </div>
    <input type="hidden" name="isDayGuest" value="<%= isDayGuest %>">
    <div class="form-group">
        <button class="btn btn-raised blue"
                type="submit">
            RSVP
        </button>
    </div>
</form>

<form id="yesForm"
      class="hide"
      action="submit_yes_rsvp"
      method="post">
    <h1>Yay!</h1>
    <div class="form-group">
        <label>How many guests?</label>
        <p>(Kids and plus-ones are welcome)</p>
        <input type="number"
               name="NumberOfGuests"
               id="numberOfGuests"
               min="1"
               max="8"
               required>
    </div>
    <div class="panel panel-default hide" id="guestNames">
        <div class="panel-heading">Name(s)</div>
        <div class="panel-body">
            <div class="form-group guest_name hide">
                <label>Guest 1</label>
                <input class="form-control"
                       type="text"
                       name="guest1"
                       required>
            </div>
            <div class="form-group guest_name hide">
                <label>Guest 2</label>
                <input class="form-control"
                       type="text"
                       name="guest2">
            </div>
            <div class="form-group guest_name hide">
                <label>Guest 3</label>
                <input class="form-control"
                       type="text"
                       name="guest3">
            </div>
            <div class="form-group guest_name hide">
                <label>Guest 4</label>
                <input class="form-control"
                       type="text"
                       name="guest4">
            </div>
            <div class="form-group guest_name hide">
                <label>Guest 5</label>
                <input class="form-control"
                       type="text"
                       name="guest5">
            </div>
            <div class="form-group guest_name hide">
                <label>Guest 6</label>
                <input class="form-control"
                       type="text"
                       name="guest6">
            </div>
            <div class="form-group guest_name hide">
                <label>Guest 7</label>
                <input class="form-control"
                       type="text"
                       name="guest7">
            </div>
            <div class="form-group guest_name hide">
                <label>Guest 8</label>
                <input class="form-control"
                       type="text"
                       name="guest8">
            </div>
        </div>
    </div>

    <% if (isDayGuest) { %>
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input type="checkbox"
                           name="Carpool">
                    <span class="checkbox-material">
                        <span class="check"></span>
                        Interested in carpooling?
                    </span>
                </label>
            </div>
        </div>
        <div class="form-group">
            <label>
                Would you like to spend the weekend at Cooper Spur, if there's lodging available?
            </label>
            <p>(Cabins are $295/night; expect to split 2-3 ways)</p>
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-raised blue">
                    Yes Please!
                    <input type="radio"
                           name="InterestedInLodging"
                           value="Yes">
                </label>
                <label class="btn btn-raised red">
                    No Thanks
                    <input type="radio"
                           name="InterestedInLodging"
                           value="No">
                </label>
            </div>
        </div>
    <% } else { %>
        <div class="form-group">
            <label>
                Will you be staying with us at Cooper Spur?
            </label>
            <p>(Hint: the correct answer is "yes")</p>
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-raised blue">
                    Yes
                    <input type="radio"
                           name="StayingAtCS"
                           value="Yes">
                </label>
                <label class="btn btn-raised red">
                    No
                    <input type="radio"
                           name="StayingAtCS"
                           value="No">
                </label>
            </div>
        </div>
        <div class="form-group hide" id="lodgingPrefs">
            <label>
                Any lodging preferences?
            </label>
            <p>
                (preferred cabinmates, type of room?)
            </p>
            <textarea name="LodgingPreferences" rows="3"></textarea>
        </div>
    <% } %>
    <div class="form-group">
        <label>
            Any dietary restrictions?
        </label>
        <textarea name="DietInfo" rows="3"></textarea>
    </div>
    <div class="form-group">
        <label>
            Any song requests for the dance party?
        </label>
        <textarea name="SongRequests" rows="3"></textarea>
    </div>
    <input type="hidden" name="isDayGuest" value="<%= isDayGuest %>">
    <div class="form-group">
        <button class="btn btn-raised blue"
                type="submit">
            RSVP
        </button>
    </div>
</form>
</body>
</html>