<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
    <% include ../partials/navbar.ejs %>

<div>
    <dl>
        <dt></dt>
        <dd></dd>
    </dl>

    <dl>
        <dt>Venue and Lodging</dt>
        <dd>
            <a href="http://cooperspur.com/">
                Cooper Spur Mountain Resort
            </a>
            is an hour-and-a-half drive from PDX airport. We've reserved the entire resort for the weekend.
        </dd>
        <dt>Weather</dt>
        <dd>
            In October, Mount Hood tends to have high temperatures around 60 degrees and lows in the upper 30s, and the likelihood of rain on any given day is about 30%.
        </dd>
        <dt>Activities</dt>
        <dd>
            <dl>
                <dt>At the resort:</dt>
                <dd>
                    <ul>
                        <li>hot tubbin'</li>
                    </ul>
                </dd>
                <dt>Nearby:</dt>
                <dd>
                    <ul>
                        <li>
                            There's lots of great hiking on Mount Hood.
                            <a href="http://www.oregonhikers.org/field_guide/Tamanawas_Falls_Hike">
                                Tamanawas Falls
                            </a>
                            is a local favorite.
                        </li>
                        <li>
                            <a href="http://hoodriverfruitloop.com/">
                                The Fruit Loop
                            </a>
                            is a scenic drive full of wineries and "U-pick" farms.
                        </li>
                        <li>
                            <a href="http://www.packerorchardsandbakery.com/events.html">
                                Packer Orchards
                            </a>
                            has a corn maze and pumpkin bowling (?!)
                        </li>
                    </ul>
                </dd>
                <dt>Local events the weekend of the wedding:</dt>
                <dd>
                    <ul>
                        <li>
                            <a href="http://hoodriver.org/harvest-fest/">
                                Hood River Harvest Festival
                            </a>
                        </li>
                        <li>
                            <a href="http://www.kiyokawafamilyorchards.com/events/">
                                Fiesta Days at Kiyokawa Family Orchards
                            </a>
                        </li>
                    </ul>
                </dd>
            </dl>
        </dd>
    </dl>
</div>

</body>
</html>