<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
    <% include ../partials/navbar.ejs %>

<div class="container container-fluid">
    <h1>Location</h1>
    <div class="row">
        <div class="col-sm-6">
            <dl>
                <dt class="scooch_down">Venue and Lodging</dt>
                <dd>
                    <a target="_blank" href="http://cooperspur.com/">
                        Cooper Spur Mountain Resort
                    </a>
                    is an
                    <a target="_blank" href="https://www.google.com/maps/dir/Portland+International+Airport,+Northeast+Airport+Way,+Portland,+OR/Cooper+Spur+Mountain+Resort,+10755+Cooper+Spur+Rd,+Mt+Hood,+OR+97041/@45.5158166,-122.3394692,9.9z/data=!4m13!4m12!1m5!1m1!1s0x5495a0aa74dc20d1:0x5bda7693380e5c3d!2m2!1d-122.5950942!2d45.5897694!1m5!1m1!1s0x54be0243a5ebfe1f:0xd5b7941756b8a8a5!2m2!1d-121.590982!2d45.425548">
                    hour-and-a-half drive from PDX airport</a>. We've reserved the entire resort for the weekend, and we'd love to have all our out-of-town guests spend both Friday and Saturday night with us there. You'll be able to make individual reservations once we've gathered RSVPs; we'll send an email to give you the go-ahead.
                </dd>
                <dt class="scooch_down">Weather and Conditions</dt>
                <dd>
                    In October, Mount Hood tends to have high temperatures around 60 degrees and lows in the upper 30s, and the likelihood of rain on any given day is about 30%. Most of the pathways at the resort are paved, but you can expect to do some walking on gravel and uneven ground. We recommend dressing in warm layers and comfortable shoes.
                </dd>
            </dl>
        </div>
        <div class="col-sm-6">
            <img src="condo-doors-1.jpg" class="scooch_down photo">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <img src="TillyJaneTrailhead.jpg" class="photo">
        </div>
        <div class="col-sm-6">
            <dl>
                <dt class="scooch_down">Things to See and Do</dt>
                <dd>
                    <dl class="scooch_down">
                        <dt>Local Attractions:</dt>
                        <dd>
                            <ul>
                                <li>
                                    There's lots of great hiking on Mount Hood.
                                    <a target="_blank" href="http://www.oregonhikers.org/field_guide/Tamanawas_Falls_Hike">
                                        Tamanawas Falls
                                    </a>
                                    is a popular hike.
                                </li>
                                <li>
                                    <a target="_blank" href="http://hoodriverfruitloop.com/">
                                        The Fruit Loop
                                    </a>
                                    is a scenic drive full of wineries and "U-pick" farms.
                                </li>
                                <li>
                                    <a target="_blank" href="http://www.packerorchardsandbakery.com/events.html">
                                        Packer Orchards
                                    </a>
                                    has a corn maze and pumpkin bowling (?!)
                                </li>
                            </ul>
                        </dd>
                        <dt>Local Events:</dt>
                        <dd>
                            <ul>
                                <li>
                                    <a target="_blank" href="http://hoodriver.org/harvest-fest/">
                                        Hood River Harvest Festival
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="http://www.kiyokawafamilyorchards.com/events/">
                                        Fiesta Days at Kiyokawa Family Orchards
                                    </a>
                                </li>
                            </ul>
                        </dd>
                    </dl>
                </dd>
            </dl>
            <p class="photo_credit">
                <a href="https://www.flickr.com/photos/34450190@N08/3853861536">
                    "Cooper Spur Tilly Jane Trail"
                </a>
                by Joe Parks, used under
                <a href="https://creativecommons.org/licenses/by/2.0/">CC BY</a>
            </p>
        </div>
    </div>
    <div class="row">
        <dl>
            <dt>
                If you'll be spending time in Portland before or after the wedding, consider the following:
            </dt>
            <dd>
                <ul>
                    <li>
                        Take a walk and take in some views at
                        <a href="https://www.portlandoregon.gov/parks/finder/index.cfm?PropertyID=275&action=ViewPark">
                            Mt Tabor Park.
                        </a>
                    </li>
                    <li>
                        <a href="http://www.bluestardonuts.com/locations/">
                            Blue Star Donuts:
                        </a>
                        expensive but worth it. There are multiple locations; Hawthorne, NW 23rd, and Mississippi are all fun neighborhoods to explore.
                    </li>
                    <li>
                        Meet the charming budtenders at
                        <a href="http://www.farmapdx.com/">
                            Farma.
                        </a>
                    </li>
                    <li>
                        <a href="http://khaomangai.com/locations/">
                            Nong’s Khao Man Gai:
                        </a>
                        for a sit-down experience, check out their restaurant on SE Ankeny (their other locations are food carts).  Simple, delicious Thai food.
                    </li>
                    <li>
                        Drink tea and take photos at
                        <a href="http://www.lansugarden.org/">
                            Lan Su Chinese Garden
                        </a>
                        in downtown.
                    </li>
                    <li>
                        Take a
                        <a href="http://pdxpedicab.com/home/">
                            pedicab tour
                        </a>
                        of Portland, or
                        <a href="https://www.biketownpdx.com/">
                            rent your own bikes
                        </a>
                        for a self-guided tour.
                    </li>
                    <li>
                        Have lunch at
                        <a href="http://www.sainthonorebakery.com/view-our-thurman-location--locations-thurman">
                            Saint Honoré
                        </a>
                        and then go for a hike in
                        <a href="https://www.portlandoregon.gov/parks/finder/index.cfm?action=ViewPark&PropertyID=246">
                            Macleay Park.
                        </a>
                    </li>
                </ul>
            </dd>
        </dl>
    </div>
</div>

</body>
</html>