<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
    <% include ../partials/navbar.ejs %>

<div class="container container-fluid">
    <h1>Schedule</h1>
    <div class="row">
        <div class="col-sm-offset-1 col-sm-9">
            <h2>Overview</h2>
            <dl>
                <dt>
                    Overnight guests
                </dt>
                <dd>
                    Check-in is at 3pm on Friday, but you may be able to get in early. Call Cooper Spur if you're interested in an earlier check-in time. Checkout is at 11am on Sunday.
                </dd>
                <dt class="scooch_down">
                    Day guests
                </dt>
                <dd>
                    Plan to arrive at Cooper Spur at 3pm on Saturday, and stay for as much or as little of the festivities as you can stand! Day guests will have dinner at 5pm; we'll be dancing till 10, and the after-party in the tavern goes till midnight.
                </dd>
            </dl>
            <h2 class="scooch_down_further">Meals at Cooper Spur</h2>
            <dl>
                <div class="important info">
                <dt>Friday Dinner</dt>
                <dd>
                    Since the restaurant can't accommodate everyone at once, and because folks will probably be excited to see the people they know, <strong>we'd like to recommend the following approximate dinner schedule: Huttons at 5pm, Sakrys at 6pm, friends at 7pm.</strong> This is only a suggestion; anyone is welcome to eat at the restaurant at any time.
                </dd>
                </div>

                <dt class="scooch_down">Other Meals</dt>
                <dd>
                    On Saturday and Sunday, Cooper Spur will provide a light continental breakfast, and the restaurant will be open for lunch.
                </dd>
            </dl>
            <h2 class="scooch_down_further">Saturday Festivities</h2>
            <strong>Location</strong>
            <p>
                We'll be in a heated tent at the Log Home, a five-minute walk from the main resort area. (Except for dinner, which will be served in the restaurant.)
            </p>
            <strong>Schedule</strong>
            <p>
                <strong>3pm:</strong>
                Gather at the Log Home
            </p>
            <p>
                <strong>3:30pm:</strong>
                Ceremony
            </p>
            <p>
                <strong>4pm:</strong>
                Group photos, drinks, hors d'oeuvres, general hangouts. Maybe we'll play some cornhole if the weather's decent.
            </p>
            <p class="important info">
                <strong>Please note:</strong>
                There will be two dinner seatings. The first group will be friends of the bride and groom; the second group (mostly) family.
            </p>
            <p>
                <strong>5pm:</strong>
                The first group has dinner at the restaurant. (Folks in the second group can continue drinking and snacking at the Log Home.)
            </p>
            <p>
                <strong>7pm:</strong>
                The second group has dinner at the restaurant. Meanwhile, the first group has dessert back at the Log Home, and then gets the dance party started.
            </p>
            <p>
                <strong>8:30pm:</strong>
                The second group heads back to the Log Home for dessert, toasts, and dancing.
            </p>
            <p>
                <strong>10pm:</strong>
                The dance party ends, and the after-party begins. Head to the tavern for late-night drinks and snacks.
            </p>
            <p>
                <strong>Midnight:</strong>
                The tavern closes, and the after-after-parties (?) begin.
            </p>
        </div>
    </div>
</div>

</body>
</html>