<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
    <% include ../partials/navbar.ejs %>

<div class="container container-fluid">
    <h1>Schedule</h1>
    <div class="row">
        <div class="col-sm-offset-1 col-sm-9">
            <dl class="scooch_down">
                <dt>
                    Out-of-town guests:
                </dt>
                <dd>
                    You can check in to Cooper Spur beginning at 3pm on Friday; checkout is at 11am on Sunday.
                </dd>
                <dt class="scooch_down">
                    Local guests:
                </dt>
                <dd>
                    Plan to arrive at Cooper Spur around 1pm on Saturday, and stay for as much or as little of the festivities as you can stand! We'll be dancing till 10pm.
                </dd>
            </dl>
            <p class="important info">More details coming soon.</p>
        </div>
    </div>
</div>

</body>
</html>